div.row.message-container {
    height: 80%;

    .chat-messages {
        height: 15em;
        position: relative;
        border: 3px solid #c1c1c1;
        border-radius: 5px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .message {
        width: 100%;
        padding: 1em;
        margin: 0px;
    }

    .right {
        background-color: #d9f1ff;
    }
      
    .username h4 {
        font-weight: bold;
        word-break: break-all;
        font-size: 16pt;
    }
      
    .text {
        margin-left: 0.75em;
        font-size: 20pt;
    }

    .jump-to-bottom {
        position: absolute;
        bottom: 15%;
        left: 2.5%;
        z-index: 1;
        display: none;
        font-size: 16pt;
        text-align: center;
        padding: 20px 0 20px 0;
        // background-color: #ffc653;
        width: 95%;
        cursor: pointer;
      }
}

.chat-controls,
.viewer-controls,
.tip-controls,
.blackout-controls,
.reset-show,
.spitoon-sound-controls {
    max-width: 100%;
    margin-bottom: 1em;

    .card-body {
        max-width: 100%;
    }
}

#current {
    background-color: #faff1b
}

.button-row {
    margin-bottom: 1em;
}

.add-tip {
    padding: 1em;
    width: 100%;
    font-size: 18pt;
}