<app-control-keys></app-control-keys>
<div class="row container-fluid no-gutters">
  <div class="col card">
    <div class="card-header">
      Controls
    </div>
    <div class="card-body">
      <!-- Chat Control -->
      <div class="row container no-gutters chat-controls">
        <div class="col card">
          <div class="card-header">
            Chat
          </div>
          <div class="card-body container">
            <div class="row">
              <div class="col-2">
                <button type="button" class="btn btn-primary next-message" (click)="nextMessage()">Next Message</button>
              </div>
              <div class="col-10">
                <div class="row message-container no-gutters" #messageContainer>
                  <div class="col chat-messages">
                    <div
                      class="row message"
                      *ngFor="let message of allMessages; let index = index"
                      [ngClass]="{'left': index % 2 !== 0, 'right': index % 2 === 0}"
                      [id]="(index === currentMessage) ? 'current' : 'message-' + index"
                    >
                      <div class="col">
                        <div class="row username">
                          <h4>{{ message.username }}</h4>
                        </div>
                        <div class="row text">
                            {{ message.text }}
                        </div>
                      </div>
                    </div>
                    <div id="bottom"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Viewer Control -->
      <div class="row container no-gutters viewer-controls">
        <div class="col-2 card">
          <div class="card-header">
            Go Live!
          </div>
          <div class="card-body">
            <button type="button" class="btn btn-danger add-tip" (click)="toggleLive()">Go Live!</button>
          </div>
        </div>
        <div class="col-10 card">
          <div class="card-header">
            Add / Remove Viewers
          </div>
          <div class="card-body container">
            <div class="row">
              <div class="col">
                <div class="row button-row">
                  <div class="col">
                    <button type="button" class="btn btn-primary add-tip" (click)="addViewers(1)">1</button>
                  </div>
                  <div class="col">
                    <button type="button" class="btn btn-primary add-tip" (click)="addViewers(2)">2</button>
                  </div>
                  <div class="col">
                    <button type="button" class="btn btn-primary add-tip" (click)="addViewers(5)">5</button>
                  </div>
                  <div class="col">
                    <button type="button" class="btn btn-primary add-tip" (click)="addViewers(10)">10</button>
                  </div>
                  <div class="col">
                    <button type="button" class="btn btn-primary add-tip" (click)="addViewers(100)">100</button>
                  </div>
                </div>
                <div class="row button-row">
                  <div class="col">
                    <button type="button" class="btn btn-primary add-tip" (click)="addViewers(-1)">-1</button>
                  </div>
                  <div class="col">
                    <button type="button" class="btn btn-primary add-tip" (click)="addViewers(-2)">-2</button>
                  </div>
                  <div class="col">
                    <button type="button" class="btn btn-primary add-tip" (click)="addViewers(-5)">-5</button>
                  </div>
                  <div class="col">
                    <button type="button" class="btn btn-primary add-tip" (click)="addViewers(-10)">-10</button>
                  </div>
                  <div class="col">
                    <button type="button" class="btn btn-primary add-tip" (click)="addViewers(-100)">-100</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Tip Control -->
      <div class="row container no-gutters tip-controls">
        <div class="col card">
          <div class="card-header">
            Add Tips
          </div>
          <div class="card-body container">
            <div class="row">
              <div class="col">
                <div class="row button-row">
                  <div class="col">
                    <button type="button" class="btn btn-primary add-tip" (click)="addTip(1)">1</button>
                  </div>
                  <div class="col">
                    <button type="button" class="btn btn-primary add-tip" (click)="addTip(2)">2</button>
                  </div>
                  <div class="col">
                    <button type="button" class="btn btn-primary add-tip" (click)="addTip(5)">5</button>
                  </div>
                  <div class="col">
                    <button type="button" class="btn btn-primary add-tip" (click)="addTip(10)">10</button>
                  </div>
                  <div class="col">
                    <button type="button" class="btn btn-primary add-tip" (click)="addTip(20)">20</button>
                  </div>
                  <div class="col">
                    <button type="button" class="btn btn-primary add-tip" (click)="addTip(40)">40</button>
                  </div>
                  <div class="col">
                    <button type="button" class="btn btn-primary add-tip" (click)="addTip(60)">60</button>
                  </div>
                  <div class="col">
                    <button type="button" class="btn btn-primary add-tip" (click)="addTip(100)">100</button>
                  </div>
                  <div class="col">
                    <button type="button" class="btn btn-primary add-tip" (click)="silentTip()">Silent (+1)</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Spitoon Sound -->
      <div class="row container no-gutters spitoon-sound-controls">
          <div class="col card">
            <div class="card-header">
              Sound
            </div>
            <div class="card-body container">
              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-info add-tip" (click)="spitoonSound()">Play Spitoon Sound</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- Blackout -->
      <div class="row container no-gutters blackout-controls">
        <div class="col card">
          <div class="card-header">
            Fade to Black
          </div>
          <div class="card-body container">
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-warning add-tip" (click)="toggleBlackout()">FADE TO BLACK</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Reset -->
      <div class="row container no-gutters reset-show">
        <div class="col card">
          <div class="card-header">
            Reset Show
          </div>
          <div class="card-body container">
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-danger add-tip" (click)="resetAll()">RESET</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <button (click)="sendMessage()">Test Message</button>
    <button (click)="nextMessage()">Next Message</button> -->
  </div>
</div>