.chat-header {
    padding: 0 1em;

    h2 {
        font-size: 3rem;
    }
}

div.row.message-container {
    height: 70%;

    .chat-messages {
        height: 100%;
        position: relative;
        border: 3px solid #c1c1c1;
        border-radius: 5px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .message {
        width: 100%;
        padding: 1em;
        margin: 0px;
    }

    .right {
        background-color: #d9f1ff;
    }
      
    .username h4 {
        font-weight: bold;
        word-break: break-all;
        font-size: 3rem;
    }
      
    .text {
        margin-left: 0.75em;
        font-size: 42pt;
    }

    .jump-to-bottom {
        position: absolute;
        bottom: 15%;
        left: 2.5%;
        z-index: 1;
        display: none;
        font-size: 16pt;
        text-align: center;
        padding: 20px 0 20px 0;
        // background-color: #ffc653;
        width: 95%;
        cursor: pointer;
      }
}

.tip-jar {
    height: 15%;
    padding-top: 1em;

    .tip-logo {
        background-color: #ffb300;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        display: inline-block;
        margin-right: 10px;
        
        h1 {
            font-size: 30pt;
            font-weight: bold;
            margin: auto;
            text-align: center;
        }
    }

    p {
        margin: auto;
        display: inline;
        font-size: 28pt;
        font-weight: bold;
    }

    .card {
        border-color: #000000;
        border-width: 3px;
    }
}