<app-control-keys></app-control-keys>
<!-- <div class="blackout" [ngClass]="{'off': !blackout}"></div> -->
<div class="blackout" [ngClass]="{'off': !blackout}"></div>
<div class="row container-fluid">
  <div class="col-7 card left-wrapper">
    <app-webcam></app-webcam>
  </div>
  <div class="col-5 right-wrapper">
    <app-chat></app-chat>
  </div>
</div>
