/* You can add global styles to this file, and also import other style files */
body, html {
    width: 100%;
    height: 100%;
    /* max-height: 100%; */
    background-color: #FFFFFF;
    font-family: Arial, sans-serif;
}

video {
    max-width: 100%;
    height: auto;
}