.fullwidth {
    width: 100%;
}

.webcam-container {
    padding: 0px;

    padding: 1em 1em;
    border: 3px solid #000000;
    border-radius: 5px;

    width: 100%;

    .webcam {
        margin-bottom: 1em;
        width: 100%;

        webcam {
            width: 100%;

            .webcam-wrapper {
                width: 100%;

                video {
                    width: 100%;
                }
            }
        }
    }

    .live-indicator {
        padding: 0 1em;
    }

    .viewers-indicator {
        padding: 0 1em;
    }

    .live {
        width: 100%;
        margin: 0px;
        cursor: pointer;
        font-weight: bold;
        color: #b70011;

        h3 {
            display: inline;
            margin: auto;
        }
    }

    .live-inactive {
        background-color: #d0d0d0;
        border-color: #d0d0d0;
        color: #000000;
    }

    .viewers {
        width: 100%;
        margin: 0px;
        font-size: 24pt;
    }

    .live-circle {
        width: 30px;
        height: 30px;
        background-color: #5d5d5d;
        border-radius: 15px;
        display: inline-block;
        margin-right: 1em;
    }

    .live-circle.on {
        background-color: #ff0000;
        box-shadow: #E91E63 0px 0px 20px 5px;
    }
}

.logo-container {
    padding: 1em;
    margin-bottom: 1.5em;
    img#logo {
        width: 100px;
    }
    img#title {
        height: 65px;
        width: auto;
        margin-left: 1em;
    }
}
